<div class="container mb-3">
    <div class="auth-wrapper">
        <p style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><strong>Quy Định Bảo Mật</strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><span style="color:red">Choxkld.com</span> t&ocirc;n
                    trọng những th&ocirc;ng tin c&aacute; nh&acirc;n của bạn. Ch&uacute;ng t&ocirc;i hiểu rằng bạn cần
                    biết
                    ch&uacute;ng t&ocirc;i quản l&yacute; những th&ocirc;ng tin c&aacute; nh&acirc;n tập hợp được từ
                    Website
                    <span style="color:red">Choxkld.com</span> như thế n&agrave;o. Xin h&atilde;y đọc v&agrave;
                    t&igrave;m hiểu
                    về những Quy Định Bảo Mật th&ocirc;ng tin sau đ&acirc;y của ch&uacute;ng t&ocirc;i. Nếu bạn
                    kh&ocirc;ng chấp
                    thuận Bản Quy Định Bảo Mật n&agrave;y, xin đừng truy cập v&agrave;o Website <span
                        style="color:red">Choxkld.com.</span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Việc bạn truy cập, đăng k&yacute;, sử dụng trang Web
                    n&agrave;y c&oacute; nghĩa rằng bạn đồng &yacute; v&agrave; chấp nhận r&agrave;ng buộc bởi
                    c&aacute;c điều
                    khoản của Bản Quy Định Bảo Mật của ch&uacute;ng t&ocirc;i. </span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><strong>Tập hợp c&aacute;c th&ocirc;ng tin</strong>
                </span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><span style="color:red">Choxkld.com</span> tập hợp
                    c&aacute;c th&ocirc;ng tin c&aacute; nh&acirc;n của bạn như: t&ecirc;n, email, điạ chỉ, số điện
                    thoại,
                    ng&agrave;y sinh, v&agrave; c&aacute;c th&ocirc;ng tin kh&aacute;c, nhằm mục đ&iacute;ch nhận biết
                    c&aacute;c th&ocirc;ng tin ri&ecirc;ng của từng c&aacute; nh&acirc;n khi bạn đăng k&yacute; hay sử
                    dụng
                    Website <span style="color:red">Choxkld.com</span>. </span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Khi bạn truy cập v&agrave;o trang Web của ch&uacute;ng
                    t&ocirc;i, ch&uacute;ng t&ocirc;i kh&ocirc;ng y&ecirc;u cầu bạn cung cấp c&aacute;c th&ocirc;ng tin
                    c&aacute; nh&acirc;n. Tuy nhi&ecirc;n để c&oacute; thể truy cập những nơi cần sự đăng k&yacute;, bạn
                    phải
                    thực hiện việc đăng k&yacute; bằng c&aacute;ch cung cấp c&aacute;c th&ocirc;ng tin theo y&ecirc;u
                    cầu của
                    ch&uacute;ng t&ocirc;i.<br />
                    Ch&uacute;ng t&ocirc;i chỉ tập hợp c&aacute;c th&ocirc;ng tin để đ&aacute;p ứng nhu cầu của người
                    truy cập
                    v&agrave; chỉ khi cần thiết cho mục đ&iacute;ch thương mại của ch&uacute;ng t&ocirc;i tr&ecirc;n cơ
                    sở
                    tu&acirc;n thủ quy định ph&aacute;p luật. Ch&uacute;ng t&ocirc;i cũng tập hợp c&aacute;c th&ocirc;ng
                    tin
                    th&ocirc;ng thường của người truy cập v&agrave;o Website như: địa chỉ IP, tr&igrave;nh duyệt Web,
                    c&aacute;c
                    kiểu của hệ thống điều h&agrave;nh, thời gian, ng&agrave;y bạn truy cập v&agrave;o Website,
                    v&agrave; những
                    sự m&ocirc; tả kh&aacute;c. Ch&uacute;ng t&ocirc;i c&oacute; thể kết hợp những th&ocirc;ng tin
                    th&ocirc;ng
                    thường với những th&ocirc;ng tin c&aacute; nh&acirc;n.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><strong>C&aacute;ch thức sử dụng th&ocirc;ng
                        tin</strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Th&ocirc;ng thường, ch&uacute;ng t&ocirc;i sử dụng
                    c&aacute;c th&ocirc;ng tin bạn cung cấp chỉ để hồi đ&aacute;p những c&acirc;u hỏi hay thực hiện
                    c&aacute;c
                    y&ecirc;u cầu của bạn. Th&ocirc;ng tin c&aacute; nh&acirc;n của bạn c&oacute; thể bị chia sẻ với
                    những
                    c&ocirc;ng ty kh&aacute;c, nhưng chỉ khi cần thiết để đ&aacute;p ứng c&aacute;c y&ecirc;u cầu của
                    bạn hay
                    cho những mục đ&iacute;ch li&ecirc;n quan.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Ch&uacute;ng t&ocirc;i kh&ocirc;ng cung cấp c&aacute;c
                    th&ocirc;ng tin c&aacute; nh&acirc;n của bạn cho B&ecirc;n thứ ba để thực hiện c&aacute;c dịch vụ
                    cho
                    ri&ecirc;ng họ khi chưa c&oacute; sự đồng &yacute; của bạn. Nhưng ch&uacute;ng t&ocirc;i c&oacute;
                    thể chia
                    sẻ th&ocirc;ng tin cho c&aacute;c c&aacute; nh&acirc;n, c&ocirc;ng ty m&agrave; ch&uacute;ng
                    t&ocirc;i
                    thu&ecirc; để cung cấp c&aacute;c dịch vụ cho ch&uacute;ng t&ocirc;i. Ch&uacute;ng t&ocirc;i cũng
                    c&oacute;
                    thể cung cấp c&aacute;c th&ocirc;ng tin khi th&ocirc;ng tin đ&oacute; được x&aacute;c định c&oacute;
                    ảnh
                    hưởng, t&aacute;c động ti&ecirc;u cực cho B&ecirc;n thứ ba, ch&uacute;ng t&ocirc;i cũng c&oacute;
                    thể cung
                    cấp, tiết lộ những th&ocirc;ng tin n&agrave;y khi được ph&aacute;p luật cho ph&eacute;p v&agrave;
                    trong bất
                    cứ c&aacute;c trường hợp kh&aacute;c m&agrave; ch&uacute;ng t&ocirc;i c&oacute; sự x&aacute;c định
                    hợp
                    l&yacute; rằng điều đ&oacute; cần thiết để cung cấp dịch vụ cho c&aacute;c c&aacute;
                    nh&acirc;n.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Dữ liệu kh&aacute;ch h&agrave;ng của <span
                        style="color:red">Choxkld.com</span> c&oacute; thể được chuyển nhượng cho người kế thừa hay
                    người được
                    chỉ định để quản l&yacute; c&ocirc;ng ty khi c&ocirc;ng ty bị s&aacute;p nhập, bị mua lại hoặc
                    ph&aacute;
                    sản.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><strong>Bảo đảm an to&agrave;n đối với c&aacute;c
                        th&ocirc;ng tin thu thập được</strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Ch&uacute;ng t&ocirc;i chỉ tập hợp lại c&aacute;c
                    th&ocirc;ng tin c&aacute; nh&acirc;n trong phạm vi ph&ugrave; hợp v&agrave; cần thiết cho mục
                    đ&iacute;ch
                    thương mại đ&uacute;ng đắn của ch&uacute;ng t&ocirc;i. V&agrave; ch&uacute;ng t&ocirc;i duy
                    tr&igrave;
                    c&aacute;c biện ph&aacute;p th&iacute;ch hợp nhằm bảo đảm t&iacute;nh an to&agrave;n, nguy&ecirc;n
                    vẹn, độ
                    ch&iacute;nh x&aacute;c, v&agrave; t&iacute;nh bảo mật những th&ocirc;ng tin m&agrave; bạn đ&atilde;
                    cung
                    cấp. Ngo&agrave;i ra, ch&uacute;ng t&ocirc;i cũng c&oacute; những biện ph&aacute;p th&iacute;ch hợp
                    để đảm
                    bảo rằng B&ecirc;n thứ ba cũng sử dụng c&aacute;c biện ph&aacute;p bảo đảm an to&agrave;n cho
                    c&aacute;c
                    th&ocirc;ng tin m&agrave; ch&uacute;ng t&ocirc;i cung cấp cho họ. </span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><strong>Cookies</strong><br />
                    Cookies l&agrave; những file nhỏ được Download để ghi ch&eacute;p c&aacute;c hoạt động trong 1
                    Website.<br />
                    Ch&uacute;ng t&ocirc;i sử dụng cookies để ghi ch&eacute;p c&aacute;c hoạt động của nguời sử dụng hay
                    mục
                    đ&iacute;ch của người sử dụng kh&ocirc;ng muốn xem c&ugrave;ng nội dung quảng c&aacute;o được lặp đi
                    lặp lại
                    nhiều lần. Ngo&agrave;i ra, ch&uacute;ng t&ocirc;i cũng sử dụng cookies để đ&aacute;p ứng c&aacute;c
                    y&ecirc;u cầu của người sử dụng v&agrave; c&aacute;c mục đ&iacute;ch kh&aacute;c.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Trong Website của ch&uacute;ng t&ocirc;i, ch&uacute;ng
                    t&ocirc;i c&oacute; thể đặt quảng c&aacute;o của c&aacute; nh&acirc;n, đơn vị kh&aacute;c, những
                    quảng
                    c&aacute;o n&agrave;y c&oacute; thể thu thập cookies của bạn v&agrave; <span
                        style="color:red">Choxkld.com</span> kh&ocirc;ng thể truy cập v&agrave;o th&ocirc;ng tin
                    n&agrave;y. Bất
                    kể l&uacute;c n&agrave;o bạn truy cập v&agrave;o Website, hầu hết c&aacute;c tr&igrave;nh duyệt đặt
                    chế độ
                    cookies tự động nhận. Nếu bạn muốn l&agrave;m mất hiệu lực cookies, c&oacute; thẻ c&agrave;i đặt
                    cookies
                    trong tr&igrave;nh duyệt, tuy nhi&ecirc;n ch&uacute;ng t&ocirc;i c&oacute; những thiết lập sẵn những
                    ứng
                    dụng v&ocirc; hiệu h&oacute;a thẻ c&agrave;i đặt cookies.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><strong>Li&ecirc;n kết c&aacute;c Website
                        kh&aacute;c</strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Nếu bạn nhấn đường li&ecirc;n kết sang Website thứ ba,
                    bao gồm cả trang quảng c&aacute;o, bạn sẽ rời trang <span style="color:red">Choxkld.com</span>
                    v&agrave; sẽ
                    đến trang Web bạn đ&atilde; chọn. Ch&uacute;ng t&ocirc;i kh&ocirc;ng thể kiểm so&aacute;t c&aacute;c
                    hoạt
                    động của B&ecirc;n thứ ba v&agrave; kh&ocirc;ng chịu tr&aacute;ch nhiệm về sự an to&agrave;n hay bất
                    kế
                    những nội dung g&igrave; c&oacute; trong Website đ&oacute;.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><strong>Sửa đổi v&agrave; xo&aacute; th&ocirc;ng tin
                        t&agrave;i khoản</strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Bạn c&oacute; thể sửa đổi, cập nhật th&ocirc;ng tin
                    t&agrave;i khoản của bạn bất cứ l&uacute;c n&agrave;o. Cho d&ugrave;, bạn tự xo&aacute; c&aacute;c
                    th&ocirc;ng tin đ&oacute; đi nhưng ch&uacute;ng t&ocirc;i c&oacute; thể phục hồi những th&ocirc;ng
                    tin
                    đ&oacute; từ cơ sở dữ liệu của ch&uacute;ng t&ocirc;i để giải quyết c&aacute;c tranh chấp, thi
                    h&agrave;nh&nbsp;bản thoả thuận người sử dụng, hay v&igrave; c&aacute;c y&ecirc;u cầu kỹ thuật,
                    ph&aacute;p
                    l&yacute;&nbsp; li&ecirc;n quan đến sự an to&agrave;n v&agrave; những hoạt động của Website
                    ch&uacute;ng
                    t&ocirc;i.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif"><strong>Điều khoản thay đổi</strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Ch&uacute;ng t&ocirc;i c&oacute; quyền thay đổi nội
                    dung của c&aacute;c điều khoản n&agrave;y. Xin thường xuy&ecirc;n x&aacute;c nhận để biết về
                    c&aacute;c điều
                    khoản thay đổi trong bản Quy Định Bảo Mật của ch&uacute;ng t&ocirc;i. Th&ecirc;m v&agrave;o
                    đ&oacute;
                    ch&uacute;ng t&ocirc;i sẽ th&ocirc;ng b&aacute;o cho bạn bằng email khi c&oacute; những thay đổi
                    quan trọng
                    về c&aacute;ch sử dụng li&ecirc;n quan c&aacute;c th&ocirc;ng tin c&aacute; nh&acirc;n của bạn.
                </span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">Trong trường hợp bạn từ chối c&aacute;c điều khoản
                    thay đổi c&oacute; trong <span style="color:red">Choxkld.com</span>, xin li&ecirc;n hệ ch&uacute;ng
                    t&ocirc;i theo địa chỉ E-mail <span style="color:red">hello@choxkld.com</span>. Khi bạn tiếp tục sử
                    dụng trang Web
                    n&agrave;y,
                    c&oacute; nghĩa l&agrave; bạn đồng &yacute; v&agrave; chấp nhận bị r&agrave;ng buộc với c&aacute;c
                    thay đổi
                    trong bản Quy Định Bảo Mật trực tuyến n&agrave;y.</span></span></p>

        <p style="margin-left:0cm; margin-right:0cm"><span style="font-size:13pt"><span
                    style="font-family:'Times New Roman',serif">&nbsp;</span></span></p>
    </div>
</div>