:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px;
}

.attach {
  position: relative;
  .mat-form-field {
    position: relative;
    z-index: 0;
  }
  input[type="file"] {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.mat-form-field {
  display: block;
  width: 100%;
}

.avatar {
  position: relative;
  .img-cover {
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 0;
  }
  input[type="file"] {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
