<!-- <div class="container">
    <section id="employer">
        <h2 [translate]="'label.forEmployer'">Dành cho nhà tuyển dụng</h2>
        <p [translate]="'label.postJobFindworker'">Đăng thông tin công việc đầy đủ để tìm được người lao động phù hợp nhất</p>
        <button [routerLink]="['/doi-tac/dang-don-hang']" [translate]="'label.postOrderContract'">Đăng đơn hàng</button>
    </section>
</div>
<div class="container">
    <section id="labor">
        <h2 [translate]="'label.forLabor'">Dành cho nhà tuyển dụng</h2>
        <p [translate]="'label.sendFormInfo'">Gửi form thông tin để nhà tuyển dụng dễ dàng tìm thấy bạn</p>
        <button [routerLink]="['/doi-tac/dang-don-hang']">{{'label.formLabour'|translate}}</button>
    </section>
</div>
<div class="container">
    <section id="download">
        <h2><span [translate]="'label.appLooking4Job'">ứng dụng tìm việc làm</span> <br />
            <span [translate]="'label.topFast'">hàng đầu, nhanh chóng</span></h2>
        <p [translate]="'label.downloadNowFindJob'">Tải ngay Ứng dụng tìm LAO ĐỘNG, VIỆC LÀM tại nước ngoài</p>
        <div class="row">
            <div class="col-6">
                <a>
                    <img src="/assets/img/app-store.svg" alt="App Store" width="100%">
                </a>
            </div>
            <div class="col-6">
                <a>
                    <img src="/assets/img/ch-play.svg" alt="CH Play" width="100%">
                </a>
            </div>
        </div>
    </section>
</div> -->