<div class="container">
    <div class="auth-wrapper">
        <app-profile-nav [currentCustomer]="currentCustomer" [activeText]="'label.changePassword'|translate"></app-profile-nav>
        <form (submit)="onSubmit()" [formGroup]="form" novalidate>
            <mat-form-field class="d-block mb-2" appearance="outline" floatLabel="always">
                <mat-label [translate]="'placeholder.oldPassword'">Mật khẩu cũ</mat-label>
                <input type="password" [formControl]="oldPassword" [autofocus]="true" matInput required />
                <mat-icon matSuffix color="primary">vpn_key</mat-icon>
                <mat-error *ngIf="oldPassword.invalid">{{getError(oldPassword)}}</mat-error>
            </mat-form-field>
            <mat-form-field class="d-block mb-2" appearance="outline" floatLabel="always">
                <mat-label [translate]="'placeholder.newPassword'">Mật khẩu mới</mat-label>
                <input type="password" [formControl]="password" [autofocus]="true" matInput required />
                <mat-icon matSuffix color="primary">vpn_key</mat-icon>
                <mat-error *ngIf="password.invalid">{{getError(password)}}</mat-error>
            </mat-form-field>
            <mat-form-field class="d-block mb-2" appearance="outline" floatLabel="always"> 
                <mat-label [translate]="'placeholder.retypePassword'">Nhập lại mật khẩu</mat-label>
                <input type="password" [formControl]="reTypePassword" [autofocus]="true" matInput required />
                <mat-icon matSuffix color="primary">keyboard_return</mat-icon>
                <mat-error *ngIf="password.invalid">{{'label.passwordNotMatch'|translate}}</mat-error>
                <mat-error *ngIf="reTypePassword.valid && password.value !== reTypePassword.value">{{getError(reTypePassword)}}</mat-error>
            </mat-form-field>
            <button type="submit">{{'label.changePassword'|translate}}</button>
        </form>
    </div>
</div>
<div class="rules">
    <div class="container">
        {{'label.infoPolicy'|translate}}
        <a routerLink="/thoa-thuan-su-dung" class="color-blue">{{'label.termAndService'|translate}}</a>
        {{'label.accept'|translate}}
        <!-- <a href="#" class="color-blue">{{'label.cookiePolicy'|translate}}</a>
        {{'label.also'|translate}} -->
        <a routerLink="/quy-dinh-bao-mat" class="color-blue">{{'label.securePolicy'|translate}}</a>
        {{'label.ofHelloJob'|translate}}<br />
        <!-- {{'label.captchaProtect'|translate}}
        <a href="#" class="color-blue">{{'label.privatePolicy'|translate}}</a>
        {{'label.and'|translate}}
        <a href="#" class="color-blue">{{'label.serviceRule'|translate}}</a>
        {{'label.ofGoogleApply'|translate}} -->
    </div>
</div>