<!-- <div class="d-flex justify-content-center align-items-center" id="page-action" *ngIf="currentPartner">
    <a href="javascript:void(0)" class="btn-post-job" [matMenuTriggerFor]="postContractMenu">
        {{'label.postsOrderContract'|translate}}
    </a>
    <a routerLink="/doi-tac/gioi-thieu-lao-dong" class="btn-post-job">
        {{'label.registerReferral'|translate}}
    </a>
</div>
<mat-menu #postContractMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/doi-tac/dang-don-hang-nhat-ban">Đơn hàng Nhật Bản</button>
    <button mat-menu-item routerLink="/doi-tac/dang-don-hang-dai-loan">Đơn hàng Đài loan</button>
    <button mat-menu-item routerLink="/doi-tac/dang-don-hang-trong-nuoc">Đơn hàng trong nước</button>
</mat-menu> -->