:host {
  display: block;
  height: 87px;
  position: relative;
  z-index: 9999;
}
header {
  padding: 15px 0;
  // margin-bottom: 20px;
  position: relative;
  .logo {
    img {
      width: 100px;
    }
  }
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    // box-shadow: 0 3px 5px -1px rgba(0s,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  .notice {
    font-size: 22px;
    color: #666;
    .mat-badge-active {
      font-size: 9px;
      width: auto;
      padding: 1px 3px;
      height: auto;
      line-height: 1;
      right: -5px;
      top: -4px;
    }
  }
  // .btn-menu{
  //   img
  // }
}
header::after {
  content: "";
  height: 7px;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  z-index: 1111;
  left: 0;
  width: 100%;
  background-size: 1px 7px;
  opacity: 0;
  visibility: hidden;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAOBAMAAAD3WtBsAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAD29va1cB7UAAAAB3RSTlMCCwQHGBAaZf6MKAAAABpJREFUCNdjSGNIY3BhCGUQBEJjIFQCQigAACyJAjLNW4w5AAAAAElFTkSuQmCC);
}
header.fixed {
  // transition: ease-in-out .3s;
  padding: 5px 0;
  background-color: #fff;
  // box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.09) !important;
  .logo {
    img {
      width: 80px;
      transition: ease-in-out 0.2s;
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
  }
}
header.fixed::after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
::ng-deep header .mat-mini-fab .mat-button-wrapper {
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
}
.btn-change-lang {
  filter: grayscale(1);
  opacity: 0.5;
  border: 1px solid #ddd;
  display: block;
  line-height: 1;
}
.btn-change-lang.active {
  filter: none;
  opacity: 1;
}
