<footer>
    <div class="container">
        <div class="heading">Copyright © Hello Job 2020. All Rights Reserved.</div>
        <p>
            {{'label.footerPromise'|translate}}
        </p>
        <!-- facebook -->
        <a href="#" class="btn btn-facebook btn-icon mr-1">
            <i class="fab fa-facebook-f"></i>
        </a>
        <!-- instagram -->
        <a href="#" class="btn btn-instagram btn-icon mr-1">
            <i class="fab fa-instagram"></i>
        </a>
        <!-- youtube -->
        <a href="#" class="btn btn-youtube btn-icon mr-1">
            <i class="fab fa-youtube"></i>
        </a>
        <!-- mobile -->
        <a href="#" class="btn btn-mobile btn-icon mr-1">
            <i class="fas fa-phone"></i>
        </a>
        <!-- backtotop -->
        <a href="javascript:void(0)" class="btn btn-back-top btn-icon" appBackToTop>
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</footer>