<div id="filter">
    <div class="container">
        <div class="current-filter" (click)="advanceFilter()">
            <b class="color-blue">
                {{'label.orderContractsSaved'|translate}}
            </b>
        </div>
    </div>
</div>
<div class="result">
    <div class="container">
        <ng-container [ngSwitch]="pager.totalResult">
            <ng-container *ngSwitchCase="0">
                <span class="text-danger">{{'label.noOrderContractsSaved'|translate}}</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{'label.page'|translate}} <b class="color-blue">{{pager.currentPage}}/{{pager.totalPage}}</b>.
                {{'label.found'|translate}} <b class="color-blue">{{pager.totalResult}}</b>
                {{'label.orderContract'|translate}}
            </ng-container>
        </ng-container>
    </div>
</div>
<div class="contracts">
    <div class="contract" *ngFor="let item of items">
        <div class="company-info d-flex align-items-center" *ngIf="item.website_OrderContractID?.partnerCompanyID">
            <div>
                <div [ngSwitch]="isEmpty(item.website_OrderContractID?.partnerCompanyID?.urlAvartar)" class="img-cover">
                    <img *ngSwitchCase="true" src="/assets/img/noimg.jpg" />
                    <img *ngSwitchDefault
                        [src]="localStorage.getItem('ServerUrl')+item.website_OrderContractID?.partnerCompanyID.urlAvartar" />
                </div>
            </div>
            <div class="flex-fill desc">
                <div class="company" [ngClass]="{'verified': item.website_OrderContractID?.partnerCompanyID?.isVerify}">
                    <span
                        [routerLink]="['/danh-gia-nha-moi-gioi', item.website_OrderContractID?.partnerCompanyID.id]">{{item.website_OrderContractID?.partnerCompanyID.name}}</span>
                    <app-hj-verified *ngIf="item.website_OrderContractID?.partnerCompanyID?.isVerify"></app-hj-verified>
                </div>
                <div class="time">
                    {{item.website_OrderContractID.createdDate|date:'d \'tháng\' M \'lúc\' HH:mm'}}</div>
            </div>
        </div>
        <div *ngIf="item.website_OrderContractID.websiteOrderBackgroundID;else elseTemplate">
            <div class="bg-cover" [ngStyle]="{'background-image': 'url('+localStorage.getItem('ServerUrl')+item.website_OrderContractID.websiteOrderBackgroundID.backgroundUrl+')',
        'color':item.website_OrderContractID.websiteOrderBackgroundID.color}">
                <div class="inner-text">{{item.website_OrderContractID.richTextWithBG}}</div>
            </div>
        </div>
        <ng-template #elseTemplate>
            <div class="img-cover" *ngIf="!isEmpty(item.website_OrderContractID.urlAvatar)"
                [appZoomImage]="localStorage.getItem('ServerUrl')+item.website_OrderContractID.urlAvatar"
                [zoomCaption]="item.website_OrderContractID.name">
                <img [src]="localStorage.getItem('ServerUrl')+item.website_OrderContractID.urlAvatar">
            </div>
        </ng-template>
        <div class="contract-wrapper">
            <h3 [routerLink]="['/don-hang', item.website_OrderContractID.id]">{{item.website_OrderContractID.name}}</h3>
            <div class="d-flex align-items-end mb-1">
                <div class="info phone d-inline-flex align-items-end">
                    <app-icon-phone-animate class="mr-1"></app-icon-phone-animate>
                    <a class="text-danger" href="tel:0902045222">0902045222</a>&nbsp; - &nbsp;<a class="text-danger" href="tel:0397633633">0397633633</a>
            </div>
                <a class="info zalo ml-3" href="//zalo.me/0902045222" target="_blank">
                    <img src="/assets/img/icon-zalo.svg"> {{'label.contact'|translate}}
                </a>
            </div>
            <!-- <button class="btn-expand ml-auto" (click)="expand($event,btnExpand,contractDesc)" #btnExpand><u>xem
                    thêm</u></button>
            <div #contractDesc class="d-none">
            </div> -->
            <div class="info salary" *ngIf="!isEmpty(item.website_OrderContractID.contractSalary)"><i
                    class="fas fa-yen-sign"></i>
                {{item.website_OrderContractID.contractSalary}}</div>
            <div class="info location" *ngIf="!isEmpty(item.website_OrderContractID.contractAddress)"><i
                    class="fas fa-map-marker-alt"></i>
                {{item.website_OrderContractID.contractAddress}}</div>
            <div class="info cv-type" *ngIf="isEmpty(item.website_OrderContractID.urlApply)"><i
                    class="fab fa-telegram"></i>
                {{'label.applyWithHelloJobCV'|translate}}
            </div>
            <ng-container *ngIf="currentPartner&&currentPartner.isCheck">
                <div class="info" *ngIf="item.website_OrderContractID.moneyBackOrigin||item.website_OrderContractID.moneyAfterFly">
                    <i class="fas fa-hand-holding-usd text-danger"></i>
                    <ng-container *ngIf="item.website_OrderContractID.moneyBackOrigin">
                        Back:&nbsp;<b class="text-danger">${{item.website_OrderContractID.moneyBackOrigin | number:'1.0-3'}}</b>
                    </ng-container>
                    <span [ngStyle]="{'padding': '0 5px'}">-</span>
                    <ng-container *ngIf="item.website_OrderContractID.moneyAfterFly">
                        Sau Bay:&nbsp;<b class="text-danger">${{item.website_OrderContractID.moneyAfterFly | number:'1.0-3'}}</b>
                    </ng-container>
                </div>
                <div class="info" *ngIf="item.website_OrderContractID.examDate"><i class="far fa-calendar-alt"></i>
                    Thi tuyển:&nbsp;<b class="text-danger">{{item.website_OrderContractID.examDate | date:'dd/MM/yyyy'}}</b>
                </div>
            </ng-container>
        </div>
        <div class="contract-action">
            <div class="contract-action-wrapper d-flex align-items-center justify-content-between">
                <button mat-button (click)="save(item)" class="text-primary">
                    <i class="fas fa-bookmark"></i>{{'label.saved'|translate}}
                </button>
                <a mat-button [routerLink]="['/dang-ky-ung-tuyen',item.website_OrderContractID.id]"
                    class="d-flex align-items-center justify-content-center">
                    <i class="fab fa-telegram"></i> {{'label.apply'|translate}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="paginator" *ngIf="pager.totalResult>pager.displayPerPage">
    <div class="container">
        <ul>
            <ng-container *ngIf="pager.currentPage>1">
                <li>
                    <a (click)="changePage(1)"><i class="fas fa-angle-double-left"></i></a>
                </li>
                <li>
                    <a (click)="changePage(pager.currentPage-1)"><i class="fas fa-angle-left"></i></a>
                </li>
            </ng-container>
            <li *ngIf="pager.currentPage===2">
                <a (click)="changePage(1)">1</a>
            </li>
            <ng-container *ngIf="pager.currentPage>2">
                <li>
                    <a (click)="changePage(pager.currentPage-2)">{{pager.currentPage-2}}</a>
                </li>
                <li>
                    <a (click)="changePage(pager.currentPage-1)">{{pager.currentPage-1}}</a>
                </li>
            </ng-container>
            <li>
                <a class="active">{{pager.currentPage}}</a>
            </li>
            <li *ngIf="pager.currentPage===pager.totalPage-1">
                <a (click)="changePage(pager.totalPage)">{{pager.totalPage}}</a>
            </li>
            <ng-container *ngIf="pager.currentPage<pager.totalPage-1">
                <li>
                    <a (click)="changePage(pager.currentPage+1)">{{pager.currentPage+1}}</a>
                </li>
                <li>
                    <a (click)="changePage(pager.currentPage+2)">{{pager.currentPage+2}}</a>
                </li>
            </ng-container>
            <ng-container *ngIf="pager.currentPage<pager.totalPage">
                <li>
                    <a (click)="changePage(pager.currentPage+1)"><i class="fas fa-angle-right"></i></a>
                </li>
                <li>
                    <a (click)="changePage(pager.totalPage)"><i class="fas fa-angle-double-right"></i></a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
