<app-hot-order></app-hot-order>
<div class="container">
    <div class="order-choices">
        <a class="choice" [routerLink]="['/don-hang-nhat-ban']">
            <div class="img-cover">
                <img src="/assets/img/order-nhatban.png" alt="Đơn hàng Nhật Bản">
            </div>
            <h3>Đơn hàng Nhật Bản</h3>
        </a>
        <a class="choice" [routerLink]="['/don-hang-dai-loan']">
            <div class="img-cover">
                <img src="/assets/img/order-dailoan.png" alt="Đơn hàng Đài Loan">
            </div>
            <h3>Đơn hàng Đài Loan</h3>
        </a>
        <a class="choice" [routerLink]="['/don-hang-trong-nuoc']">
            <div class="img-cover">
                <img src="/assets/img/order-vietnam.png" alt="Đơn hàng trong nước">
            </div>
            <h3>Đơn hàng trong nước</h3>
        </a>
    </div>
</div>
