<div class="hj-page">
    <div class="page-wrapper">
        <mat-card>
            <mat-card-title>
                <div class="nav">
                    <ul>
                        <li class="nav-control">
                            <button mat-icon-button class="card-button">
                                <mat-icon class="material-icons" (click)="goBack()">keyboard_arrow_left</mat-icon>
                            </button>
                        </li>
                    </ul>
                </div>
                <div>
                    <mat-progress-bar mode="determinate" [value]="processPercent" color="accent"></mat-progress-bar>
                </div>
            </mat-card-title>

            <mat-card-content>
                <div class="page-form">
                    <div class="top-panel">
                        <div class="logo">
                        </div>
                        <div class="title">
                            <span>Cân nặng</span>
                        </div>
                        <div class="content">
                            <form class="data-form">
                                <div class="h-input-group">
                                    <ng-data-picker [data]="data" (change)="change($event)"></ng-data-picker>
                                </div>
                            </form>

                            <div class="feature-buttons">
                            </div>
                        </div>
                        <div class="description">
                        </div>
                    </div>
                    <div class="commands">
                        <div class="feature-buttons">
                            <button mat-stroked-button (click)="moveNext($event)" class="r-button">Tiếp tục</button>
                        </div>
                        <div class="others">
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>