<div class="container mb-3">
    <div class="auth-wrapper">
        <p style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">Thỏa Thuận Sử
                                Dụng</span></span></strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><br />
            <span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span
                        style="font-size:13.0pt"><span style="font-family:'Times New Roman',serif">Xin h&atilde;y đọc
                            cẩn thận những điều khoản
                            của Bản Thỏa Thuận Sử Dụng khi truy cập v&agrave;o Website việc l&agrave;m <span
                                style="color:red">Choxkld.com</span>, v&agrave; nếu bạn kh&ocirc;ng đồng &yacute; với
                            c&aacute;c
                            điều khoản của Bản Thỏa Thuận Sử Dụng n&agrave;y, xin đừng truy cập v&agrave;o Website&nbsp;
                            <span style="color:red">Choxkld.com</span>. Việc bạn truy cập, sử dụng trang Web <span
                                style="color:red">Choxkld.com</span> c&oacute; nghĩa l&agrave; bạn chấp nhận, đồng
                            &yacute; bị
                            r&agrave;ng buộc với điều khoản, điều kiện của&nbsp;Bản Thỏa Thuận Sử
                            Dụng.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"><span
                                style="color:red">Choxkld.com</span></span></span><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"> (&ldquo;<span
                                style="color:red">Choxkld.com</span>&rdquo; hay &ldquo;ch&uacute;ng t&ocirc;i&rdquo;)
                            l&agrave;
                            trang Web việc l&agrave;m trực tuyến. Người t&igrave;m việc c&oacute; thể t&igrave;m
                            c&ocirc;ng việc
                            hay tạo hồ sơ ở đ&acirc;y. Nh&agrave; tuyển dụng c&oacute; thể đăng th&ocirc;ng b&aacute;o
                            tuyển
                            dụng hay t&igrave;m kiếm hồ sơ tr&ecirc;n trang Website. Ch&uacute;ng t&ocirc;i trang bị
                            c&aacute;c
                            ứng dụng, c&ocirc;ng cụ hỗ trợ cần thiết nhằm gi&uacute;p Nh&agrave; tuyển dụng t&igrave;m
                            được
                            những ứng vi&ecirc;n ph&ugrave; hợp nhất cũng như gi&uacute;p c&aacute;c Ứng vi&ecirc;n
                            c&oacute;
                            thể t&igrave;m kiếm được c&ocirc;ng việc ph&ugrave; hợp nhất với khả năng của
                            m&igrave;nh.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Tất cả những dịch vụ được cung cấp v&agrave;
                            quản l&yacute; bởi <span style="color:red">Choxkld.com</span>, m&aacute;y chủ đươc đặt
                            v&agrave; xử
                            l&yacute; tại Việt Nam.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">1. C&aacute;ch sử dụng dịch
                                vụ</span></span></strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Bạn c&oacute; thể sử dụng <span
                                style="color:red">Choxkld.com</span> nếu bạn đồng &yacute; với Bản Thỏa Thuận Sử Dụng
                            v&agrave;
                            Bản Quy Định Bảo Mật.&nbsp;Nếu bạn kh&ocirc;ng đồng &yacute; với c&aacute;c quy định của Bản
                            Thỏa
                            Thuận Sử Dụng do ch&uacute;ng t&ocirc;i quy định xin đừng truy cập v&agrave;o Website
                            n&agrave;y.
                            Nếu bạn sử dụng dịch vụ với tư c&aacute;ch l&agrave; th&agrave;nh vi&ecirc;n của
                            ch&uacute;ng
                            t&ocirc;i, xin vui l&ograve;ng đăng k&yacute; theo những quy tr&igrave;nh m&agrave;
                            ch&uacute;ng
                            t&ocirc;i thiết lập sẳn. Xin h&atilde;y kiểm tra cẩn thận trước khi sử dụng WEBSITE bởi
                            v&igrave;
                            dịch vụ của ch&uacute;ng t&ocirc;i bao gồm dịch vụ c&oacute; ph&iacute; v&agrave; dịch vụ
                            kh&ocirc;ng ph&iacute;. Ngo&agrave;i ra, bạn phải chịu to&agrave;n bộ chi ph&iacute; cũng
                            như
                            tr&aacute;ch nhiệm khi truy cập v&agrave; sử dụng trang Website <span
                                style="color:red">Choxkld.com</span>.<br />
                            &nbsp;<br />
                            <strong>2. Dịch vụ v&agrave; c&aacute;c h&agrave;nh động cấm trong
                                Website</strong></span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">Li&ecirc;n kết b&ecirc;n thứ
                                3</span></span></strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Nếu bạn chọn đường dẫn li&ecirc;n kết
                            b&ecirc;n thứ 3, bao gồm cả c&aacute;c trang Quảng c&aacute;o, bạn sẽ rời trang <span
                                style="color:red">Choxkld.com</span> v&agrave; truy cập v&agrave;o trang Web bạn vừa
                            chọn.
                            Ch&uacute;ng t&ocirc;i kh&ocirc;ng chịu tr&aacute;ch nhiệm về những nội dung m&agrave;
                            Website
                            đ&oacute; cung cấp. V&agrave; ch&uacute;ng t&ocirc;i cũng kh&ocirc;ng chịu tr&aacute;ch
                            nhiệm về
                            những nội dung do những C&ocirc;ng ty, tổ chức, c&aacute; nh&acirc;n (người) kh&aacute;c
                            cung cấp
                            cho d&ugrave; l&agrave; bạn chọn đường truyền truy cập từ trang Web của ch&uacute;ng
                            t&ocirc;i
                            (<span style="color:red">Choxkld.com</span>). V&agrave; khi đ&oacute;, bạn phải tu&acirc;n
                            theo quy
                            định, nội dung của trang Web đ&oacute;.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">Dịch vụ v&agrave; th&ocirc;ng tin
                                tr&ecirc;n trang Website <span
                                    style="color:red">Choxkld.com</span></span></span></strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"><span style="color:red">C&ocirc;ng ty Cổ phần
                                HelloJob</span></span></span><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"> l&agrave; chủ sở hữu c&aacute;c nội dung
                            tr&ecirc;n <span style="color:red">Choxkld.com</span>, bản quyền, tất cả c&aacute;c quyền
                            hợp
                            ph&aacute;p kh&aacute;c đều thuộc quyền quản l&yacute;, sử dụng của <span
                                style="color:red">C&ocirc;ng ty Cổ phần HelloJob</span>. Người sử dụng kh&ocirc;ng
                            c&oacute;
                            quyền sao ch&eacute;p, upload, c&ocirc;ng bố, sửa chữa, tạo ra c&aacute;c sản phẩm
                            t&aacute;i sinh,
                            cắt x&eacute;n, xuy&ecirc;n tạc, chuyển nhượng, ph&aacute;t t&aacute;n m&agrave; kh&ocirc;ng
                            c&oacute; sự đồng &yacute; của <span style="color:red">C&ocirc;ng ty Cổ phần
                                HelloJob</span>.
                            Ngo&agrave;i ra,<span style="color:red"> C&ocirc;ng ty Cổ phần HelloJob</span> l&agrave; chủ
                            sở hữu
                            của t&ecirc;n thương mại &ldquo;<span style="color:red">Choxkld.com</span>&rdquo;, logo
                            v&agrave;
                            t&ecirc;n miền &ldquo;<span style="color:red">Choxkld.com</span>&rdquo;,&nbsp; v&agrave;
                            người sử
                            dụng kh&ocirc;ng được quyền sử dụng khi chưa c&oacute; sự đồng &yacute; của <span
                                style="color:red">C&ocirc;ng ty Cổ phần HelloJob</span>.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Khi c&aacute;c tập tin, h&igrave;nh ảnh, phần
                            mềm, chương tr&igrave;nh được l&agrave;m bởi <span style="color:red">Choxkld.com</span>
                            trong
                            t&igrave;nh trạng c&oacute; thể download, ch&uacute;ng t&ocirc;i cho ph&eacute;p người sử
                            dụng sử
                            dụng trong một phạm vi giới hạn kh&ocirc;ng nhằm mục đ&iacute;ch thương mại, nhưng sự cho
                            ph&eacute;p n&agrave;y&nbsp; kh&ocirc;ng c&oacute; nghĩa rằng <span
                                style="color:red">Choxkld.com</span> đ&atilde; cho ph&eacute;p bạn khai th&aacute;c bản
                            quyền.
                            Người sử dụng cũng kh&ocirc;ng được download c&aacute;c file để t&aacute;i sản xuất, để đăng
                            tải,
                            th&ocirc;ng b&aacute;o, chuyển giao, ph&aacute;t t&aacute;n. Ngo&agrave;i ra bạn phải
                            tu&acirc;n thủ
                            c&aacute;c chỉ dẫn kh&aacute;c m&agrave; ch&uacute;ng t&ocirc;i thiết lập khi bạn muốn sử
                            dụng
                            c&aacute;c file n&agrave;y. Người sử dụng ho&agrave;n to&agrave;n tự chịu tr&aacute;ch nhiệm
                            với
                            những tin tức kiếm được khi truy cập trong trang Website. Ch&uacute;ng t&ocirc;i ho&agrave;n
                            to&agrave;n kh&ocirc;ng chịu tr&aacute;ch nhiệm bảo đảm về nguồn th&ocirc;ng tin v&agrave;
                            t&iacute;nh ch&iacute;nh x&aacute;c to&agrave;n vẹn của nội dung
                            đ&oacute;.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">Cung cấp dịch
                                vụ</span></span></strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"><span
                                style="color:red">Choxkld.com</span></span></span><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"> sẽ trả lời c&aacute;c c&acirc;u hỏi gửi bằng
                            email của người sử dụng bằng Email. Ch&uacute;ng t&ocirc;i sẽ kh&ocirc;ng x&aacute;c nhận
                            bằng Điện
                            thoại, Fax, hay c&aacute;c c&aacute;ch thức kh&aacute;c. Đối tượng được hỗ trợ sẽ được giới
                            hạn bởi
                            <span style="color:red">Choxkld.com</span>. <span style="color:red">Choxkld.com</span>
                            kh&ocirc;ng
                            cung cấp c&aacute;c thiết bị cho người sử dụng d&ugrave;ng như m&aacute;y t&iacute;nh,
                            c&aacute;c
                            thiết bị về th&ocirc;ng tin, phần mềm th&ocirc;ng tin, tất cả c&aacute;c trang thiết bị về
                            internet.
                            Ch&uacute;ng t&ocirc;i mong bạn hiểu rằng c&oacute; những trường hợp <span
                                style="color:red">Choxkld.com</span> kh&ocirc;ng thể cung cấp những nội dung đề nghị
                            trong trang
                            Web <span style="color:red">Choxkld.com</span>.&nbsp;<br />
                            &nbsp;<br />
                            <strong>H&agrave;nh vi cấm</strong></span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Để bảo vệ trang Web dịch vụ việc l&agrave;m
                            <span style="color:red">Choxkld.com</span> hoạt động hiệu quả. Những h&agrave;nh động sau
                            đ&acirc;y
                            l&agrave; nghiệm cấm:</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">1) H&agrave;nh động vi phạm ph&aacute;p luật,
                            g&oacute;p phần hay khuyến kh&iacute;ch c&aacute;c h&agrave;nh vi phạm
                            ph&aacute;p.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">2) H&agrave;nh động hạn chế hoặc ngăn cản,
                            g&acirc;y trở ngại những hoạt động truy cập của người sử dụng
                            kh&aacute;c.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">3) H&agrave;nh động x&acirc;m phạm hệ thống
                            quản trị mạng hay hệ thống mạng của Web <span
                                style="color:red">Choxkld.com</span>.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">4) H&agrave;nh động x&acirc;m phạm danh dự, uy
                            t&iacute;n, b&iacute; mật đời tư, quyền c&ocirc;ng bố th&ocirc;ng tin c&aacute; nh&acirc;n,
                            bản
                            quyền, .. v&agrave; c&aacute;c quyền hợp ph&aacute;p
                            kh&aacute;c.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">5) H&agrave;nh động vu khống, đe dọa, quấy
                            rối, g&acirc;y thiệt hại về tinh thần, vật chất cho người
                            kh&aacute;c.</span></span></span></span>
        </p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">6) H&agrave;nh động tải li&ecirc;n tục, đăng
                            k&yacute; h&agrave;ng loạt, những bức Ảnh (h&igrave;nh ảnh) c&oacute; k&iacute;ch cỡ hoặc
                            c&aacute;c
                            h&agrave;nh vi tương tự.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">7) H&agrave;nh động mạo nhận người
                            kh&aacute;c.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">8) H&agrave;nh động gửi những chuỗi mail,
                            ph&aacute;t t&aacute;n c&aacute;c spam mail.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">9) H&agrave;nh vi thu thập, tập hợp,
                            t&iacute;ch g&oacute;p những th&ocirc;ng tin c&aacute; nh&acirc;n của người sử dụng
                            kh&aacute;c.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">10) V&agrave; những h&agrave;nh động phi đạo
                            đức, chống lại trật tự x&atilde; hội.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">11) C&aacute;c trường hợp kh&aacute;c theo quy
                            định của ph&aacute;p luật.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">3. Th&ocirc;ng tin của người sử
                                dụng</span></span></strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Tất cả c&aacute;c quyền đối với&nbsp;
                            th&ocirc;ng tin c&oacute; trong hồ sơ tuyển dụng, th&ocirc;ng tin đăng tuyển, c&aacute;c dữ
                            liệu,
                            tập tin, nội dung th&ocirc;ng tin m&agrave; người&nbsp; sử dụng cung cấp l&ecirc;n Website
                            <span style="color:red">Choxkld.com</span> l&agrave; thuộc về người sử dụng. <span
                                style="color:red">Choxkld.com</span> được quyền sử dụng những th&ocirc;ng tin n&agrave;y
                            cho
                            việc quản trị trang web ngay khi người sử dụng cung cấp l&ecirc;n v&agrave; c&oacute; thể
                            chuyển cho
                            b&ecirc;n thứ 3 sử dụng trong c&ugrave;ng một mục&nbsp;
                            đ&iacute;ch.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Bạn phải chịu tr&aacute;ch nhiệm về
                            t&iacute;nh ch&iacute;nh x&aacute;c, t&iacute;nh hợp ph&aacute;p của những th&ocirc;ng tin
                            m&agrave;
                            bạn cung cấp cho ch&uacute;ng t&ocirc;i. <span style="color:red">Choxkld.com</span>
                            v&agrave;
                            c&aacute;c đối t&aacute;c của ch&uacute;ng t&ocirc;i kh&ocirc;ng chịu tr&aacute;ch nhiệm về
                            những
                            th&ocirc;ng tin do người sử dụng <span style="color:red">Choxkld.com</span> cung cấp.
                            Ngo&agrave;i
                            ra, <span style="color:red">Choxkld.com</span> v&agrave; đối t&aacute;c của ch&uacute;ng
                            t&ocirc;i
                            sẽ kh&ocirc;ng c&oacute; tr&aacute;ch nhiệm phải xem x&eacute;t để x&oacute;a những
                            th&ocirc;ng tin
                            kh&ocirc;ng đ&uacute;ng mức, hay bất hợp ph&aacute;p. </span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Người sử dụng kh&ocirc;ng được đ&oacute;ng
                            g&oacute;p những nội dung thuộc H&agrave;nh vi cấm đ&atilde; được quy định trong Bản Thỏa
                            Thuận Sử
                            Dụng, v&agrave; c&aacute;c điều khoản bảo mật&nbsp; của&nbsp; <span
                                style="color:red">Choxkld.com</span>. Ngo&agrave;i ra, người sử dụng kh&ocirc;ng được
                            thay đổi
                            cấu tr&uacute;c, sắp xếp ph&acirc;n loại c&aacute;c c&aacute;c dữ liệu được đ&oacute;ng
                            g&oacute;p
                            từ người kh&aacute;c.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"><span
                                style="color:red">Choxkld.com</span></span></span><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"> c&oacute; to&agrave;n quyền x&oacute;a, thay
                            đổi những th&ocirc;ng tin chung. Ch&uacute;ng t&ocirc;i c&oacute; thể ngăn chặn sự sử dụng
                            dịch vụ,
                            hay x&oacute;a đăng k&yacute; sử dụng m&agrave; kh&ocirc;ng phải chịu bất cứ tr&aacute;ch
                            nhiệm
                            ph&aacute;p l&yacute; g&igrave;. &nbsp;Ch&uacute;ng t&ocirc;i c&oacute; thể x&oacute;a ngay
                            lập tức
                            những th&ocirc;ng tin đ&oacute;ng g&oacute;p m&agrave; ch&uacute;ng t&ocirc;i cho rằng bất
                            lợi cho
                            website <span style="color:red">Choxkld.com</span>. Th&ecirc;m v&agrave;o đ&oacute;,
                            ch&uacute;ng
                            t&ocirc;i c&oacute; thể chia sẻ, tiết lộ c&aacute;c th&ocirc;ng tin đăng k&yacute;,
                            qu&aacute;
                            tr&igrave;nh sử dụng,&nbsp; nội dung email của người sử dụng cho b&ecirc;n thứ ba trong
                            c&aacute;c
                            trường hợp sau:</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">1) Khi <span
                                style="color:red">Choxkld.com</span> bị y&ecirc;u cầu bởi to&agrave; &aacute;n, cơ quan
                            điều
                            tra, c&aacute;c c&aacute; nh&acirc;n hoặc cơ quan Nh&agrave; nước c&oacute; thẩm quyền
                            kh&aacute;c
                            hoặc để thực hiện c&aacute;c y&ecirc;u cầu ph&aacute;p
                            l&yacute;.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">2) Khi <span
                                style="color:red">Choxkld.com</span> phải bảo vệ hệ thống hoặc khi c&oacute; sự cố xảy
                            ra.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">3) Khi <span
                                style="color:red">Choxkld.com</span> thấy điều đ&oacute; l&agrave; cần thiết để&nbsp;
                            bảo vệ
                            quyền v&agrave; lợi &iacute;ch hợp ph&aacute;p của m&igrave;nh, c&aacute;c c&ocirc;ng ty đối
                            t&aacute;c, những người sử dụng kh&aacute;c, hay của b&ecirc;n thứ ba tr&ecirc;n cơ sở
                            ph&ugrave;
                            hợp quy định ph&aacute;p luật.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">4) V&agrave; c&aacute;c trường hợp hợp
                            ph&aacute;p kh&aacute;c.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">4. Sự miễm trừ tr&aacute;ch nhiệm về dịch
                                vụ của <span style="color:red">Choxkld.com</span></span></span></strong></span></span>
        </p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Trong mọi trường hợp, ch&uacute;ng t&ocirc;i
                            kh&ocirc;ng chịu tr&aacute;ch nhiệm về c&aacute;c thiết bị, m&aacute;y m&oacute;c m&agrave;
                            bạn
                            d&ugrave;ng để truy cập v&agrave;o trang Web <span style="color:red">Choxkld.com</span> như:
                            Thiết
                            bị truy cập, thiết bị để truyền tải. Khi sử dụng <span style="color:red">Choxkld.com,</span>
                            bạn
                            phải tự trang bị m&aacute;y m&oacute;c, thiết bị cần thiết cho qu&aacute; tr&igrave;nh đăng
                            nhập,
                            truyền tải v&agrave; bạn phải tự chịu mọi tr&aacute;ch nhiệm v&agrave; ph&iacute; tổn
                            ph&aacute;t
                            sinh trong qu&aacute; tr&igrave;nh sử dụng.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Ch&uacute;ng t&ocirc;i kh&ocirc;ng đảm bảo
                            việc loại trừ c&aacute;c yếu tố g&acirc;y hại đến nội dung v&agrave; th&ocirc;ng tin được
                            đăng tải
                            tr&ecirc;n <span style="color:red">Choxkld.com</span>, bao gồm nhưng kh&ocirc;ng giới hạn
                            những yếu
                            tố sau: h&agrave;nh vi cố &yacute; vi phạm v&agrave; g&acirc;y thiệt hại từ b&ecirc;n thứ
                            ba, hoặc
                            Virus. Ch&uacute;ng t&ocirc;i kh&ocirc;ng đảm bảo việc cung cấp dịch vụ m&agrave;
                            kh&ocirc;ng
                            c&oacute; bất kỳ sự cố trục trặc, sai chức năng hoặc những vấn đề kh&aacute;c t&aacute;c
                            động.
                            Ngo&agrave;i ra, ch&uacute;ng t&ocirc;i cũng kh&ocirc;ng đảm bảo sẽ thực hiện việc phục hồi,
                            hoặc
                            x&oacute;a virus v&agrave; c&aacute;c yếu tố g&acirc;y hại kh&aacute;c khi c&oacute; vấn đề
                            xảy
                            ra.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Ch&uacute;ng t&ocirc;i kh&ocirc;ng chịu
                            tr&aacute;ch nhiệm về t&iacute;nh ch&iacute;nh x&aacute;c, độ tin cậy, t&iacute;nh
                            th&iacute;ch ứng,
                            v&agrave; kết quả do việc sử dụng th&ocirc;ng tin, dịch vụ trong <span
                                style="color:red">Choxkld.com</span> g&acirc;y ra. Nếu bạn bị thiệt hại do việc sử dụng
                            th&ocirc;ng tin, dịch vụ của <span style="color:red">Choxkld.com</span>, đ&acirc;y l&agrave;
                            sự rủi
                            ro của bạn,&nbsp; bạn sẽ phải tự khắc phục những tổn thất ngo&agrave;i &yacute; muốn
                            đ&oacute;.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Miễn trừ tr&aacute;ch nhiệm trong c&aacute;c
                            trường hợp dịch vụ bị gi&aacute;n đoạn.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Ch&uacute;ng t&ocirc;i c&oacute; quyền quyết
                            định ngừng c&aacute;c dịch vụ trong <span style="color:red">Choxkld.com</span> bất cứ
                            l&uacute;c
                            n&agrave;o. Ch&uacute;ng t&ocirc;i kh&ocirc;ng c&oacute; bất cứ tr&aacute;ch nhiệm g&igrave;
                            trước
                            người sử dụng hay b&ecirc;n thứ ba đối với việc ngừng cung cấp dịch vụ n&agrave;y, cho
                            d&ugrave;
                            c&oacute; thể bạn bị thiệt hại v&igrave; việc sử dụng dịch vụ bị gi&aacute;n đọan. Khi
                            ch&uacute;ng
                            t&ocirc;i đưa ra một v&agrave;i &yacute; kiến tư vấn, ch&uacute;ng t&ocirc;i cũng
                            kh&ocirc;ng chịu
                            tr&aacute;ch nhiệm v&agrave; kh&ocirc;ng bị r&aacute;ng buộc với c&aacute;c &yacute; kiến tư
                            vấn
                            đ&oacute;.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">5. Quy định bảo
                                mật</span></span></strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"><span
                                style="color:red">Choxkld.com</span></span></span><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif"> quản l&yacute; nghi&ecirc;m t&uacute;c
                            c&aacute;c th&ocirc;ng tin c&aacute; nh&acirc;n của bạn. Ch&uacute;ng t&ocirc;i sẽ thu thập,
                            sử dụng
                            th&ocirc;ng tin của bạn ph&ugrave; hợp với Bản Quy Định Bảo Mật. Xin h&atilde;y đọc cẩn thận
                            bản Quy
                            Định Bảo Mật v&igrave; người sử dụng sẽ phải đồng &yacute; với những điều khoản
                            n&agrave;y.</span></span></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><strong><span style="font-size:13.0pt"><span
                                style="font-family:'Times New Roman',serif">6. Sự thay đổi trong Bản Thỏa Thuận Sử
                                Dụng</span></span></strong></span></span></p>

        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span
                    style="font-family:Calibri,sans-serif"><span style="font-size:13.0pt"><span
                            style="font-family:'Times New Roman',serif">Ch&uacute;ng t&ocirc;i c&oacute; quyền thay
                            đổi nội dung trong Bản Thỏa Thuận Sử Dụng n&agrave;y. Xin h&atilde;y x&aacute;c nhận thường
                            xuy&ecirc;n v&igrave; ch&uacute;ng t&ocirc;i c&oacute; thể thay đổi nội dung Bản Thỏa Thuận
                            Sử Dụng.
                            Việc bạn tiếp tục sử dụng Website của ch&uacute;ng t&ocirc;i đồng nghĩa với việc bạn chấp
                            nhận những
                            điều kiện thay đổi trong Bản Thỏa Thuận Sử Dụng</span></span></span></span></p>
    </div>
</div>